{% extends 'test_app/temp.html'%}
{% load static %}

{% block title %}
Новая
{% endblock %}

{% block body %}
<main role="main" class="container" style="margin-bottom: 50px">
    {% for el in object_list %}
    <div class="row">
        <div class="col col-12 my-3 p-3 border-gray bg-white rounded shadow-sm blk-std">
            <div class="row"><b>{{ el.name }}</b></div><hr>
            <div class="row">
                <div class="col-2 text-center m-4">
                    <img class="m-4" src="/media/{{ el.img }}" alt="" width="180" height="150">
                </div>
                <div class="col-8 m-4"><p>{{ el.text }}</p></div>
            </div>
            <div class="row text-center">
                <div class="col-4">
                    <a href="{% url 'detail' el.id %}">Подробнее</a>
                </div>
                <div class="col-4">
                    <a href="{% url 'update' el.id %}">Обновить</a>
                </div>
                <div class="col-4">
                    <a href="{% url 'delete' el.id %}" class="text-danger">Удалить</a>
                </div>
            </div>    
        </div>
    </div>
    {% endfor %}
</main>
{% endblock %}
